.pagination {
  list-style-type: none;
  padding: 0;
}

.pagination__item {
    display: inline-block;
    text-decoration: none;
}

.pagination__item a {
  padding: 10px;
  text-decoration: none;
}

.pagination__item a:hover,
.pagination__item a:focus {
  text-decoration: underline;
}

.pagination__item.current a {
  text-decoration: underline;
}
